/* importação da fonte utilizada no site */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Roboto", sans-serif;
}

.ativo {
	background-color: var(--cor_primaria);
	color: var(--branco);
	border-radius: 5px;
}

header {
	background-color: var(--cor_secundaria);
	padding: 10px 0;
	z-index: 10;
	margin-bottom: 20px;
}

#cabecalho {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
nav {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 30px;
}
header {
	border-bottom: 3px solid var(--cor_primaria);
	box-shadow: 0 3px 82px -46px;
}
header a {
	color: var(--preto_claro);
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;

	padding: 5px 15px;
	transition: 0.3s;
}
header a:hover {
	background-color: var(--cor_primaria);
	color: var(--branco);
	border-radius: 5px;
}
header img {
	width: 100px;
	border-radius: 50%;
}
#galeria {
	display: flex;
	justify-content: space-around;
}
#galeria .quadrado {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 250px;
	height: 300px;
	border: 2px solid var(--preto_claro);
	border-radius: 10px;
	padding: 5px;
}
#cadastro {
	display: flex;
	margin: 10px auto;
	background-color: var(--cor_terciaria);
	padding: 20px;
}
#pedido {
	padding: 10px;
	margin-top: 5px;
	margin: 0 auto;
	background-color: var(--cor_quartenaria);
}

:root {
	--cor_primaria: #f20392;
	--cor_secundaria: #ebe7b4;
	--cor_terciaria: #fdafda;
	--cor_quartenaria: #d8b6f0;

	--cinza: #8b8b8b;
	--preto_claro: #1b1b1b;
	--branco: #f7f7f7;
}
