/* importação da fonte utilizada no site */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* nesse arquivo somente os estilos gerais que podem ser repetidos no site todo */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Roboto", sans-serif;
}
a {
	text-decoration: none;
	color: var(--preto_claro);
}

html {
	scroll-behavior: smooth;
}

.ativo {
	background-color: var(--cor_primaria);
	color: var(--branco);
	border-radius: 5px;
}

header {
	background-color: var(--cor_secundaria);
	padding: 10px 0;
	z-index: 10;
	margin-bottom: 50px;
	border-bottom: 3px solid var(--cor_primaria);
	box-shadow: 0 3px 82px -46px;
}

#cabecalho {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
header nav {
	display: flex;
	width: 100%;
	justify-content: center;
	gap: 30px;
}
header a {
	color: var(--preto_claro);
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;

	padding: 5px 15px;
	transition: 0.3s;
}
header a:hover {
	background-color: var(--cor_primaria);
	color: var(--branco);
	border-radius: 5px;
}
header img {
	width: 100px;
	border-radius: 50%;
}

footer {
	width: 100%;
	background-color: var(--cor_terciaria);
	padding: 15px;
}

#conteudo_footer {
	max-width: 1100px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
#conteudo_footer div {
	display: flex;
	flex-direction: column;
	gap: 15px;
	text-align: center;
}

#conteudo_footer div > img {
	width: 250px;
}

#conteudo_footer div p {
	float: left;
	text-align: left;
	font-size: 14px;
}
#conteudo_footer div h3 {
	color: var(--preto_claro);
	font-size: 20px;
}

:root {
	--cor_primaria: #f20392;
	--cor_secundaria: #ebe7b4;
	--cor_terciaria: #fdafda;
	--cor_quartenaria: #d8b6f0;

	--rosa_escuro: #3b053b;
	--cinza: #8b8b8b;
	--preto_claro: #1b1b1b;
	--branco: #f7f7f7;
}
